@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,800,700,900,100);


/*=== Font families ===*/
$raleway: 'Raleway', sans-serif;


/*=== Font weights ===*/
$font-thin: 100;
$font-extra_light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi_bold: 600;
$font-bold: 700;
$font-extra_bold: 800;
$font-ultra_bold: 900;


/*=== Font sizes ===*/
$font-small: 0.875rem;  /*14px*/
$font-normal: 1rem;  /*16px*/
$font-semi_big: 1.875rem;  /*30px*/
$font-big: 2.5rem;  /*40px*/
$font-bigger: 3.500rem; /*56px*/
$font-extra_big: 4.375rem;  /*70px*/
$font-ultra_big: 5.313rem;  /*85px*/

$font-title: 50px; /*50ox*/
$font-text: 15px; /*15px*/
$font-text-quote: 17px; /*17px*/
$font-ht : 20px; /*20px*/
$font-block-text : 25px; /*25px*/
$font-big-text: 30px; /*30px*/



/*=== Brand colors ===*/
$primary-color_white: white;

$brand-color-blue: #00aeef;
$brand-color-green: #66ba4a;
$brand-color-magento: #ff0066;


$story-hover :20px;
$img-brosshuis :("../images/broshuis.jpeg");






$blog1 :url("../images/xl_blog_1.png");
$blog2 :url("../images/xl_blog_1.png");
$blog3 :url("../images/xl_blog_1.png");
$blog4 :url("../images/xl_blog_1.png");
$blog5 :url("../images/xl_blog_1.png");
$blog6 :url("../images/xl_blog_1.png");
$blog7 :url("../images/xl_blog_1.png");
$blog8 :url("../images/xl_blog_1.png");
$blog9 :url("../images/xl_blog_1.png");
$blog10 :url("../images/xl_blog_1.png");

