/* line 3, ../scss/ie_overide.scss */
body {
  padding: 0;
}

/* line 7, ../scss/ie_overide.scss */
footer {
  margin-top: 0;
}

/* line 11, ../scss/ie_overide.scss */
.team-overlay {
  margin-top: -100vh;
  position: relative;
}

@media only screen and (min-device-width: 768px) {
  /* line 17, ../scss/ie_overide.scss */
  #hero-video {
    height: 110vh;
  }
}

/* line 24, ../scss/ie_overide.scss */
.linkdin-logo1 {
  display: inline-block;
}

/* line 28, ../scss/ie_overide.scss */
.email-logo {
  display: inline-block;
}
