/*==== REMOVES THE BLUE OUTLINE OF THE BUTTONS ====*/

button:focus {
  outline: transparent !important;
}

.form-control:focus {
  outline: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
