.horizontal-story {
  height: 50vh;
  border: white solid 1px;

  .content-wrapper{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    left: 0;
    top: 0;


  }
}



.vertical-story {
  height: 100vh;
  border: white solid 1px;
  .content-wrapper{
    background-color:blue ;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    left: 0;
    top: 0;
  }
}
.test{
  margin-top: -50vh;
}

//*home*//

#story1 {
  background: url("../images/xl_blog_1.png");
  background-size: cover;
  background-position:center;
  #story1-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/xl_blog_1.png"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/xl_blog_1.png");
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #story1-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#story2 {
  background: url("../images/etos.png");
  background-size: cover;
  background-position:center;
  #story2-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/etos.png"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/etos.png");
      background-position:center;
      background-size: cover;

    }

    .background_gradient-wrapper2 {
      display: block;
    }
    #story2-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}




#story3 {
  background: url("../images/broshuis.jpeg");
  background-size: cover;
  background-position:center;
  #story3-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/broshuis.jpeg"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/broshuis.jpeg");
      background-position:center;
      background-size: cover;

    }

    .background_gradient-wrapper3 {
      display: block;
    }
    #story3-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#story4 {
  background: url("../images/xl_blog_2.jpeg");
  background-size: cover;
  background-position:center;
  #story4-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/xl_blog_2.jpeg"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/xl_blog_2.jpeg");
      background-position:center;
      background-size: cover;

    }

    .background_gradient-wrapper4 {
      display: block;
    }
    #story4-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#story5 {
  background: url("../images/xl_blog_3.png");
  background-size: cover;
  background-position:center;
  #story5-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/xl_blog_3.png"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/xl_blog_3.png");
      background-position:center;
      background-size: cover;

    }

    .background_gradient-wrapper5 {
      display: block;
    }
    #story5-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

//*article*//

#article-block-1 {
  background: url("../images/broshuis.jpeg");
  background-size: cover;
  background-position:center;
  #article-block-1-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/broshuis.jpeg"), url("../patterns/XLF_Hover_pink_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/broshuis.jpeg");
      background-position:center;
      background-size: cover;

    }

    .background_gradient-wrapper3 {
      display: block;
    }
    #article-block-1-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}


#article-block-2 {
  background: url("../images/broshuis.jpeg");
  background-size: cover;
  background-position:center;
  #article-block-2-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/broshuis.jpeg"), url("../patterns/XLF_Hover_pink_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/broshuis.jpeg");
      background-position:center;
      background-size: cover;

    }

    .background_gradient-wrapper2 {
      display: block;
    }
    #article-block-2-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#article-block-3 {
  background: url("../images/broshuis.jpeg");
  background-size: cover;
  background-position:center;
  #article-block-3-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/broshuis.jpeg"), url("../patterns/XLF_Hover_pink_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/broshuis.jpeg");
      background-position:center;
      background-size: cover;

    }

    .background_gradient-wrapper3 {
      display: block;
    }
    #article-block-3-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}


//*Blog overview*//


#blog1 {
  background: $blog1;
  background-size: cover;
  background-position:center;
  #blog1-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog1, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog1;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog1-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#blog2 {
  background: $blog2;
  background-size: cover;
  background-position:center;
  #blog2-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog2, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog2;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog2-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#blog3 {
  background: $blog3;
  background-size: cover;
  background-position:center;
  #blog3-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog3, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog3;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog3-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#blog4 {
  background: $blog4;
  background-size: cover;
  background-position:center;
  #blog4-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog4, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog4;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog4-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#blog5 {
  background: $blog5;
  background-size: cover;
  background-position:center;
  #blog5-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog5, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog5;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog5-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#blog6 {
  background: $blog6;
  background-size: cover;
  background-position:center;
  #blog6-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog6, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog6;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog6-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#blog7 {
  background: $blog7;
  background-size: cover;
  background-position:center;
  #blog7-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog7, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog7;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog7-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#blog8 {
  background: $blog8;
  background-size: cover;
  background-position:center;
  #blog8-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog8, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog8;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog8-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#blog9 {
  background: $blog9;
  background-size: cover;
  background-position:center;
  #blog9-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog9, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog9;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog9-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#blog10 {
  background: $blog10;
  background-size: cover;
  background-position:center;
  #blog10-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:$blog10, url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background:$blog10;
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #blog10-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}


//*Client need*//

#discover-client1 {
  background: url("../images/xl_blog_1.png");
  background-size: cover;
  background-position:center;
  #discover-client1-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/xl_blog_1.png"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/xl_blog_1.png");
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #discover-client1-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#discover-client2 {
  background: url("../images/blog 4.png");
  background-size: cover;
  background-position:center;
  #discover-client2-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/blog 4.png"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/blog 4.png");
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #discover-client2-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#discover-client3 {
  background: url("../images/blog 3.png");
  background-size: cover;
  background-position:center;
  #discover-client3-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/blog 3.png"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/blog 3.png");
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #discover-client3-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

#discover-client4 {
  background: url("../images/Mask.png");
  background-size: cover;
  background-position:center;
  #discover-client4-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/Mask.png"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/Mask.png");
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #discover-client4-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}


#discover-client5 {
  background: url("../images/Mask.png");
  background-size: cover;
  background-position:center;
  #discover-client5-hover {
    display: none;
  }
  .overlay-wrapper {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    background-size: cover;
    background-position:center;
  }

  &:hover {
    .overlay-wrapper {
      display: block;
      background:url("../images/Mask.png"), url("../patterns/XLF_hover_cyan_S.png");
      background-blend-mode: multiply;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position:center;
    }



    .background-wrapper {

      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../images/Mask.png");
      background-position:center;
      background-size: cover;
      background-position:center;
    }

    #discover-client5-hover {
      display: block;
      margin-top: $story-hover;
      max-width: 400px;
    }
  }
}

