




.hans-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /hans.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /hans.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/hans.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /hans.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}



.aneliya-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /aneliya.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /aneliya.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/aneliya.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /aneliya.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.anne-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /anne.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /anne.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/anne.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /anne.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.beatriz-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /beatriz.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /beatriz.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/beatriz.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /beatriz.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.ben-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /ben.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /ben.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/ben.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /ben.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.brendan-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /brendan.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /brendan.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/brendan.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /brendan.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.dimitris-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /dimitris.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /dimitris.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/dimitris.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /dimitris.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.filip-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /filip.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /filip.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/filip.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /filip.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.jaap-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /jaap.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /jaap.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/jaap.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /jaap.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.jaspar-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /jaspar.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /jaspar.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/jaspar.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /jaspar.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.jeroen-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /jeroen.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /jeroen.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/jeroen.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /jeroen.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.jeske-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /jeske.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /jeske.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/jeske.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /jeske.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.leslie-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /leslie.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /leslie.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/leslie.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /leslie.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.lucien-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /lucien.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /lucien.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/lucien.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /lucien.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.maarten-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /maarten.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /maarten.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/maarten.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /maarten.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.marc-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /marc.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /marc.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/marc.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /marc.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.matthijs-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /matthijs.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /matthijs.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/matthijs.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /matthijs.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}


.mihaela-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /mihaela.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /mihaela.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/mihaela.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /mihaela.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}


.nils-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /nils.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /nils.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/nils.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /nils.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}



.pascal-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /pascal.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /pascal.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/pascal.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /pascal.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.paul-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /paul.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /paul.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/paul.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /paul.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}


.ragna-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /ragna.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /ragna.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/ragna.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /ragna.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}


.romen-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /romen.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /romen.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/romen.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /romen.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.saskia-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /saskia.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /saskia.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/saskia.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /saskia.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.silvio-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /silvio.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /silvio.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/silvio.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /silvio.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.tudor-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /tudor.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /tudor.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/tudor.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /tudor.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.wouter-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /wouter.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /wouter.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/wouter.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /wouter.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

.xander-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits JPEG/Mobile_portrait /xander.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits JPEG/Tablet_landscape /xander.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height:85vh;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits JPEG/Desktop/xander.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
  @media only screen and (min-device-width: 1920px){
    background: url('../images/Responsive portraits JPEG/HD /xander.jpg') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}