




.hans-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Responsive portraits/Mobile_portrait /hans.png') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
  }
  @media only screen and (min-device-width: 768px){
    background: url('../images/Responsive portraits/Tablet_landscape /hans.png') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 100vh;
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px){
    background: url('../images/Responsive portraits/Desktop /hans.png') no-repeat;
    background-size:100vw;
    background-position: center;
    height: 100vh;
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
  }
}


.ben-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Ben10.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
  }


  @media only screen and (min-device-width: 768px){

    background: url('../images/Ben10.jpg') repeat;
    background-size:100vw;
    background-position: center;
    height: 100vh;
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
  }


}


.aneliya-picture {
  @media only screen and (max-device-width: 767px) {
    background: url('../images/Ben10.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 500px;
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
  }


  @media only screen and (min-device-width: 768px){

    background: url('../images/Ben10.jpg') repeat;
    background-size:100vw;
    background-position: center;
    height: 100vh;
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
  }

  @media only screen and (min-device-width: 1200px) {
    background: url('../images/aneliya.png') repeat;
    background-size:100vw;
    background-position: center;
    height: 100vh;
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
  }

}