/*===HEADER===*/
/* Uses the same structure as the Blog Headers*/

#about {

  background-position: center;
  height: 500px;
  text-align: center;
  margin-top: -8rem;

  @media only screen and (max-device-width: 767px) {
    background-size: cover;
    background:url("../images/about-us/mobile_portrait/about.jpg") no-repeat;
  }

  @media only screen and (min-device-width: 768px){

    display: block;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    background:url("../images/about-us/tablet_landscape/about.jpg") no-repeat;
    background-size: 100vw;

  }
  @media only screen and (min-device-width: 1200px){

    display: block;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    background:url("../images/about-us/desktop/about.jpg") no-repeat;
    background-size: 100vw;
  }

  @media only screen and (min-device-width: 1920px){

    display: block;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    background:url("../images/about-us/hd/about.jpg") no-repeat;
    background-size: 100vw;
  }
}

/*==== AUTHOR ====*/
/* Uses the same structure as the Blog Headers*/

.article-aboutus-marc {
  @media only screen and (max-device-width: 767px) {
    display: none;
  }


  @media only screen and (min-device-width: 768px) {

    margin-right: 1rem;
    width: 5.525rem;
    position: relative;
    height: 5.525rem;
    background: url("../images/team/mobile_portrait/marc.jpg") no-repeat;
    background-size:100% auto ;
    cursor: pointer;
    z-index: 10;
    left: 0;
    display: inline-block;
    margin-top: -1.5rem;
    border-radius: 100%;
  }


}

.article-aboutus-marc-mb {
  @media only screen and (max-device-width: 767px) {

    width: 5.525rem;
    position: relative;
    height: 5.525rem;
    background: url("../images/team/mobile_portrait/marc.jpg") no-repeat;
    background-size:100% auto ;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    margin-bottom: -4rem;
    margin-top: 4rem;
    display: block;
    border-radius: 100%;

  }

  @media only screen and (min-device-width: 768px) {

    display: none;
  }

}