.blog {
    padding-left: 6.5em;
    padding-right: 6.5em;
    margin-top: 1.5em;
    font-size: 25px;
    font-family: Raleway;
    line-height: 150%;
}

.img-circle{
    width: 64px;
    height: 64px;
    margin-top: 2.0em;
    margin-left: 13.0em;
}

.media-body{
    font-family: Raleway;
    padding-left: 0.001em;
    padding-top: 0.005em;
}

.media-heading{
    font-family: Raleway;
    padding-top: 2.0em;
}

.quote{
    margin-bottom: 2.0rem;
    font-size: 60px;
    text-align: center;
}

.buffer{
    border-top: 1px solid grey;
    margin-bottom: 3.5em;
    margin-top: 1.0em;
}

.social-icons{
    margin-left: 0.1em;
}