#case1 {

  @media only screen and (max-device-width: 767px) {
    background-size: cover;
    background:url("../images/broshuis.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    margin-top: -8rem;
  }

  @media only screen and (min-device-width: 768px){

    display: block;
    margin: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    background:url("../images/broshuis.jpeg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 500px;
    text-align: center;
    margin-top: -8rem;
  }
}

.broshuis-logo2 {

  @media only screen and (max-device-width: 767px) {
    width: 12.525rem;
    position: relative;
    height: 12.525rem;
    background: url("../icons/broshuis_logo.svg") no-repeat;
    background-size:100% auto ;
    cursor: pointer;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: -10rem;
  }

  @media only screen and (min-device-width: 768px) {


    width: 12.525rem;
    position: relative;
    height: 12.525rem;
    background: url("../icons/broshuis_logo.svg") no-repeat;
    background-size:100% auto ;
    cursor: pointer;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: -7rem;

  }

}

.case-list-items {
  margin-top: 4rem;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  width: 30%;
  vertical-align: text-top;
  font-family: $raleway;
}
.case-list-text {
  margin-top: 4rem;
  font-size: 15px;
  font-weight: 400;
  vertical-align: text-top;
  color: grey;
  font-family: $raleway;
}

.case-text-link {
  margin-top: 4rem;
  font-size: 15px;
  font-weight: 400;
  vertical-align: text-top;
  color: grey;
  font-family: $raleway;
  text-decoration: underline;
}

.spacing {
  height: 1rem;
}

table {
  margin-top: 4rem;
  display: flex;
  align-items: flex-end;
}

.blue-icon-wrapper2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.caseht2 {
  font-size: $font-ht;
  color:gray;
  font-family: $raleway;
  display: flex;
  align-items: center;
  justify-content: center;
}

.case-text2 {
  @media only screen and (max-device-width: 767px) {
    font-size: $font-ht;
    font-family: $raleway;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  @media only screen and (min-device-width: 768px)   {
    font-size: $font-big-text;
    font-family: $raleway;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
  }
}

.cases-special1 {
  margin-bottom: 2rem;
  margin-top: 4rem;
}