@media only screen and (max-device-width: 767px) {
  /* line 6, ../../scss/components/team_pictures.scss */
  .hans-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /hans.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 6, ../../scss/components/team_pictures.scss */
  .hans-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /hans.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 6, ../../scss/components/team_pictures.scss */
  .hans-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/hans.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 6, ../../scss/components/team_pictures.scss */
  .hans-picture {
    background: url("../images/Responsive portraits JPEG/HD /hans.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 40, ../../scss/components/team_pictures.scss */
  .aneliya-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /aneliya.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 40, ../../scss/components/team_pictures.scss */
  .aneliya-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /aneliya.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 40, ../../scss/components/team_pictures.scss */
  .aneliya-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/aneliya.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 40, ../../scss/components/team_pictures.scss */
  .aneliya-picture {
    background: url("../images/Responsive portraits JPEG/HD /aneliya.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 72, ../../scss/components/team_pictures.scss */
  .anne-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /anne.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 72, ../../scss/components/team_pictures.scss */
  .anne-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /anne.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 72, ../../scss/components/team_pictures.scss */
  .anne-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/anne.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 72, ../../scss/components/team_pictures.scss */
  .anne-picture {
    background: url("../images/Responsive portraits JPEG/HD /anne.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 104, ../../scss/components/team_pictures.scss */
  .beatriz-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /beatriz.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 104, ../../scss/components/team_pictures.scss */
  .beatriz-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /beatriz.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 104, ../../scss/components/team_pictures.scss */
  .beatriz-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/beatriz.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 104, ../../scss/components/team_pictures.scss */
  .beatriz-picture {
    background: url("../images/Responsive portraits JPEG/HD /beatriz.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 136, ../../scss/components/team_pictures.scss */
  .ben-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /ben.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 136, ../../scss/components/team_pictures.scss */
  .ben-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /ben.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 136, ../../scss/components/team_pictures.scss */
  .ben-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/ben.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 136, ../../scss/components/team_pictures.scss */
  .ben-picture {
    background: url("../images/Responsive portraits JPEG/HD /ben.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 168, ../../scss/components/team_pictures.scss */
  .brendan-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /brendan.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 168, ../../scss/components/team_pictures.scss */
  .brendan-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /brendan.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 168, ../../scss/components/team_pictures.scss */
  .brendan-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/brendan.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 168, ../../scss/components/team_pictures.scss */
  .brendan-picture {
    background: url("../images/Responsive portraits JPEG/HD /brendan.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 200, ../../scss/components/team_pictures.scss */
  .dimitris-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /dimitris.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 200, ../../scss/components/team_pictures.scss */
  .dimitris-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /dimitris.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 200, ../../scss/components/team_pictures.scss */
  .dimitris-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/dimitris.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 200, ../../scss/components/team_pictures.scss */
  .dimitris-picture {
    background: url("../images/Responsive portraits JPEG/HD /dimitris.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 232, ../../scss/components/team_pictures.scss */
  .filip-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /filip.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 232, ../../scss/components/team_pictures.scss */
  .filip-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /filip.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 232, ../../scss/components/team_pictures.scss */
  .filip-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/filip.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 232, ../../scss/components/team_pictures.scss */
  .filip-picture {
    background: url("../images/Responsive portraits JPEG/HD /filip.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 264, ../../scss/components/team_pictures.scss */
  .jaap-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /jaap.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 264, ../../scss/components/team_pictures.scss */
  .jaap-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /jaap.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 264, ../../scss/components/team_pictures.scss */
  .jaap-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/jaap.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 264, ../../scss/components/team_pictures.scss */
  .jaap-picture {
    background: url("../images/Responsive portraits JPEG/HD /jaap.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 296, ../../scss/components/team_pictures.scss */
  .jaspar-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /jaspar.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 296, ../../scss/components/team_pictures.scss */
  .jaspar-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /jaspar.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 296, ../../scss/components/team_pictures.scss */
  .jaspar-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/jaspar.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 296, ../../scss/components/team_pictures.scss */
  .jaspar-picture {
    background: url("../images/Responsive portraits JPEG/HD /jaspar.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 328, ../../scss/components/team_pictures.scss */
  .jeroen-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /jeroen.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 328, ../../scss/components/team_pictures.scss */
  .jeroen-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /jeroen.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 328, ../../scss/components/team_pictures.scss */
  .jeroen-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/jeroen.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 328, ../../scss/components/team_pictures.scss */
  .jeroen-picture {
    background: url("../images/Responsive portraits JPEG/HD /jeroen.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 360, ../../scss/components/team_pictures.scss */
  .jeske-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /jeske.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 360, ../../scss/components/team_pictures.scss */
  .jeske-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /jeske.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 360, ../../scss/components/team_pictures.scss */
  .jeske-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/jeske.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 360, ../../scss/components/team_pictures.scss */
  .jeske-picture {
    background: url("../images/Responsive portraits JPEG/HD /jeske.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 392, ../../scss/components/team_pictures.scss */
  .leslie-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /leslie.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 392, ../../scss/components/team_pictures.scss */
  .leslie-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /leslie.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 392, ../../scss/components/team_pictures.scss */
  .leslie-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/leslie.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 392, ../../scss/components/team_pictures.scss */
  .leslie-picture {
    background: url("../images/Responsive portraits JPEG/HD /leslie.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 424, ../../scss/components/team_pictures.scss */
  .lucien-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /lucien.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 424, ../../scss/components/team_pictures.scss */
  .lucien-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /lucien.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 424, ../../scss/components/team_pictures.scss */
  .lucien-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/lucien.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 424, ../../scss/components/team_pictures.scss */
  .lucien-picture {
    background: url("../images/Responsive portraits JPEG/HD /lucien.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 456, ../../scss/components/team_pictures.scss */
  .maarten-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /maarten.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 456, ../../scss/components/team_pictures.scss */
  .maarten-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /maarten.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 456, ../../scss/components/team_pictures.scss */
  .maarten-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/maarten.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 456, ../../scss/components/team_pictures.scss */
  .maarten-picture {
    background: url("../images/Responsive portraits JPEG/HD /maarten.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 488, ../../scss/components/team_pictures.scss */
  .marc-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /marc.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 488, ../../scss/components/team_pictures.scss */
  .marc-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /marc.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 488, ../../scss/components/team_pictures.scss */
  .marc-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/marc.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 488, ../../scss/components/team_pictures.scss */
  .marc-picture {
    background: url("../images/Responsive portraits JPEG/HD /marc.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 520, ../../scss/components/team_pictures.scss */
  .matthijs-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /matthijs.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 520, ../../scss/components/team_pictures.scss */
  .matthijs-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /matthijs.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 520, ../../scss/components/team_pictures.scss */
  .matthijs-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/matthijs.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 520, ../../scss/components/team_pictures.scss */
  .matthijs-picture {
    background: url("../images/Responsive portraits JPEG/HD /matthijs.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 553, ../../scss/components/team_pictures.scss */
  .mihaela-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /mihaela.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 553, ../../scss/components/team_pictures.scss */
  .mihaela-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /mihaela.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 553, ../../scss/components/team_pictures.scss */
  .mihaela-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/mihaela.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 553, ../../scss/components/team_pictures.scss */
  .mihaela-picture {
    background: url("../images/Responsive portraits JPEG/HD /mihaela.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 586, ../../scss/components/team_pictures.scss */
  .nils-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /nils.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 586, ../../scss/components/team_pictures.scss */
  .nils-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /nils.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 586, ../../scss/components/team_pictures.scss */
  .nils-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/nils.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 586, ../../scss/components/team_pictures.scss */
  .nils-picture {
    background: url("../images/Responsive portraits JPEG/HD /nils.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 620, ../../scss/components/team_pictures.scss */
  .pascal-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /pascal.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 620, ../../scss/components/team_pictures.scss */
  .pascal-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /pascal.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 620, ../../scss/components/team_pictures.scss */
  .pascal-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/pascal.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 620, ../../scss/components/team_pictures.scss */
  .pascal-picture {
    background: url("../images/Responsive portraits JPEG/HD /pascal.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 652, ../../scss/components/team_pictures.scss */
  .paul-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /paul.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 652, ../../scss/components/team_pictures.scss */
  .paul-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /paul.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 652, ../../scss/components/team_pictures.scss */
  .paul-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/paul.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 652, ../../scss/components/team_pictures.scss */
  .paul-picture {
    background: url("../images/Responsive portraits JPEG/HD /paul.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 685, ../../scss/components/team_pictures.scss */
  .ragna-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /ragna.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 685, ../../scss/components/team_pictures.scss */
  .ragna-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /ragna.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 685, ../../scss/components/team_pictures.scss */
  .ragna-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/ragna.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 685, ../../scss/components/team_pictures.scss */
  .ragna-picture {
    background: url("../images/Responsive portraits JPEG/HD /ragna.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 718, ../../scss/components/team_pictures.scss */
  .romen-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /romen.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 718, ../../scss/components/team_pictures.scss */
  .romen-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /romen.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 718, ../../scss/components/team_pictures.scss */
  .romen-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/romen.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 718, ../../scss/components/team_pictures.scss */
  .romen-picture {
    background: url("../images/Responsive portraits JPEG/HD /romen.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 750, ../../scss/components/team_pictures.scss */
  .saskia-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /saskia.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 750, ../../scss/components/team_pictures.scss */
  .saskia-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /saskia.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 750, ../../scss/components/team_pictures.scss */
  .saskia-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/saskia.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 750, ../../scss/components/team_pictures.scss */
  .saskia-picture {
    background: url("../images/Responsive portraits JPEG/HD /saskia.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 782, ../../scss/components/team_pictures.scss */
  .silvio-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /silvio.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 782, ../../scss/components/team_pictures.scss */
  .silvio-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /silvio.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 782, ../../scss/components/team_pictures.scss */
  .silvio-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/silvio.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 782, ../../scss/components/team_pictures.scss */
  .silvio-picture {
    background: url("../images/Responsive portraits JPEG/HD /silvio.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 814, ../../scss/components/team_pictures.scss */
  .tudor-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /tudor.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 814, ../../scss/components/team_pictures.scss */
  .tudor-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /tudor.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 814, ../../scss/components/team_pictures.scss */
  .tudor-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/tudor.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 814, ../../scss/components/team_pictures.scss */
  .tudor-picture {
    background: url("../images/Responsive portraits JPEG/HD /tudor.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 846, ../../scss/components/team_pictures.scss */
  .wouter-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /wouter.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 846, ../../scss/components/team_pictures.scss */
  .wouter-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /wouter.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 846, ../../scss/components/team_pictures.scss */
  .wouter-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/wouter.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 846, ../../scss/components/team_pictures.scss */
  .wouter-picture {
    background: url("../images/Responsive portraits JPEG/HD /wouter.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  /* line 878, ../../scss/components/team_pictures.scss */
  .xander-picture {
    background: url("../images/Responsive portraits JPEG/Mobile_portrait /xander.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  /* line 878, ../../scss/components/team_pictures.scss */
  .xander-picture {
    background: url("../images/Responsive portraits JPEG/Tablet_landscape /xander.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) {
  /* line 878, ../../scss/components/team_pictures.scss */
  .xander-picture {
    background: url("../images/Responsive portraits JPEG/Desktop/xander.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
@media only screen and (min-device-width: 1920px) {
  /* line 878, ../../scss/components/team_pictures.scss */
  .xander-picture {
    background: url("../images/Responsive portraits JPEG/HD /xander.jpg") no-repeat;
    background-size: 100vw;
    background-position: center;
    height: 85vh;
    width: 100%;
  }
}
